<!doctype html>
<html>
<head>
<title>Bias Explorer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="home">
    <form method=post enctype=multipart/form-data>
      <h2 style="color:#fed3dd">Representative Words</h2>
      <h3>(Required for all options)</h3>
      <p>Input 1+ pairs of words that represent your area of potential two-category bias in the format:</p>
        <p>category_1_word_1, category_2_word_1, category_1_word_2, category_2_word_2, .... , category_1_word_n, category_2_word_n</p>
      <p>Example for gender: he, she, him, her, his, hers, mr., ms.</p>
      <input type="text" name="rep_word_str" value="he, she">
        <h3><input type="submit" name="submit_button" value="Get Analogies"></h3>
      <h2 style="color:#ffc3a0">Words of Interest</h2>
      <h3>Leave blank to use default set of professions</h3>
      <input type="text" name="word_list" value="software engineer, detail-oriented, expert" size=150>
      <h3><input type="submit" name="submit_button" value="Get Bias Scores"></h3>
      <h2 style="color:#c6e2ff">Debiasing Inputs</h2>
      <h3>Definitional Words</h3>
        <p>More general form of the Representative Words input above. Can simply be two sets; each word does not need to have a corresponding partner to form a pair.</p>
      <input type="text" name="definitional_words" value="woman, man" size=150>
        <h3>Specific Words NOT to Neutralize</h3>
        <p>These are pairs of words that should NOT be neutralized on our subspace of interest. For example, the relationship between brother and sister would lose meaning if it were neutralized on the gender subspace.</p>
      <input type="text" name="specific_words" value="husband, wife" size=150>
      <h3>Equality Sets</h3>
      <p>These are pairs of words that SHOULD be neutralized on our subspace of interest. For example, one might want the relationship between doctor and nurse to be neutral on the gender subspace.</p>
      <input type="text" name="equalize_pairs" value="monastery, convent" size=150>
      <p></p>
      <h3><input type="submit" name="submit_button" value="Debias Embedding"></h3>
    </form>
        <p></p>
        <h3><a href="/" class="button">Go Home</a></h3>
    </div>
</body>
</html>