<!doctype html>
<html>
<head>
<title>Bias Explorer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="home">
    <form method=post enctype=multipart/form-data>
      <h2>Representative Words</h2>
      <h3>(Required for all options)</h3>
      <p>Input words that represent your area of potential bias</p>
      <p>For example: for gender, ['he', 'she'].</p>
      <input type="text" name="rep_word_str" value="he, she">
        <h3><input type="submit" name="submit_button" value="Get Analogies"></h3>
      <h2>Words of Interest</h2>
      <h3>(Required for Bias Scores)</h3>
      <input type="text" name="word_list" value="software engineer, detail-oriented, expert" size=150>
      <h3><input type="submit" name="submit_button" value="Get Bias Scores"></h3>
      <h2>Debiasing Inputs</h2>
      <h3>Dimension-Specific Words</h3>
      <input type="text" name="specific_words" value="husband, wife" size=150>
      <h3>Definitional Words</h3>
      <input type="text" name="definitional_words" value="woman, man" size=150>
      <h3>Equalize Words</h3>
      <input type="text" name="equalize_pairs" value="monastery, convent" size=150>
      <p></p>
      <h3><input type="submit" name="submit_button" value="Debias Embedding"></h3>
    </form>
        <p></p>
        <h3><a href="/" class="button">Go Home</a></h3>
    </div>
</body>
</html>