<!doctype html>
<html>
<head>
<title>Bias Explorer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="home">
    <h2>Welcome to Bias Explorer!</h2>
    <h3>Upload new Word Embedding</h3>
    <p>.txt file is recommended</p>
    <h3><form method=post enctype=multipart/form-data>
      <input type="file" name="file">
      <input type="submit" value="Upload"></h3>
    </form>
    </div>
    <div class="about">
        <h3>About Bias Explorer</h3>
        <p>Bias explorer leverages the approach developed in a 2016 paper "Man is to Computer Programmer as Woman is to
            Homemaker? Debiasing Word Embeddings".</p>
        <a href='https://papers.nips.cc/paper/6228-man-is-to-computer-programmer-as-woman-is-to-homemaker-debiasing-word-embeddings.pdf'><p>Paper Here!</p></a>
    </div>
</body>
</html>